.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.features {
  display: flex;
  align-items: stretch;
  padding: 4rem 0;
  width: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
